@using ScrumProject.Models
@model ProfileIndexViewModel

    <h2>&larr; @Html.ActionLink("Back to profile", "Index", "Profile")</h2>


<div class="calendar-information-form ">
    <div class="calendar-content">
        <h2 style="margin-top: 0;">Set administrator rights for others</h2>
        @Html.Partial("AdminSettings")
    </div>
</div>

<div class="calendar-information-form ">
    <div class="calendar-content">
        <h2 style="margin-top: 0;">Accept new registration requests</h2>
        @Html.Partial("AdminAccept")
    </div>
</div>