@using ScrumProject.Models

<table class="changeSettings">

    @foreach (var user in (ViewBag.user as List<ScrumProject.Models.User>))
    {
        if(user.Approved == false) { 
        <tr>
            <td><strong>@user.Email</strong></td>

            <td>
                @Html.ActionLink("Accept account", "AcceptAccount", "Profile",
                       new { id = user.UserID },
                       new { confirm = true, onclick = "return confirm('Do you want to accept this account as a member?')" })
            </td>
        </tr>
        }
    }
</table>
