@using ScrumProject.Models
@model ProfileIndexViewModel


<table class="changeSettings">
    @foreach (var profile in Model.Profiles)
    {
        <tr>
            <td><strong>@profile.Forename @profile.Surname</strong></td>

            @if (profile.AdminRights == true)
            {
                <td>(Admin rights)</td>

            }
            else
            {
                <td>(No admin rights)</td>

            }
            <td>
                @Html.ActionLink("Change", "ChangeSettings", "Profile",
                       new { id = profile.ProfileID },
                       new { confirm = true, onclick = "return confirm('Are you sure you want to change admin rights for this person?')" })
            </td>
        </tr>
    }
</table>