@using ScrumProject.Models
@model ProfileIndexViewModel


@using (Html.BeginForm("SelectCategory", "Profile", FormMethod.Post))
{
    @Html.AntiForgeryToken()



    <select id="dropdownMenu" name="dropdownMenu" class="form-control" style="display: inline">

        @foreach (var category in (ViewBag.categories as List<ScrumProject.Models.Category>))
        {
            <option value="@category.Name">@category.Name</option>
        }

    </select>

    <input type="submit" value="Select" style="margin: 5px 0;" class="btn btn-primary" />

}
<div style="margin-top: 10px;">
    @foreach (var category in (ViewBag.catNotifications as List<ScrumProject.Models.ChosenCategories>))
    {
        <h4>@category.Name</h4>
    }
</div>


