@using (Html.BeginForm("DefaultWallSettings", "Profile", FormMethod.Post))
{
<div>

    @if (ViewBag.chosenWall == "InformalWall")
    {
    <div>
        <input name="IsChecked" type="radio" value="FormalWall" /> Formal Wall
        <br />

        <input name="IsChecked" checked="checked" type="radio" value="InformalWall" /> Informal Wall
    </div>
    }
    else if (ViewBag.chosenWall == "FormalWall")
    {
        <div>
            <input name="IsChecked" checked="checked" type="radio" value="FormalWall" /> Formal Wall
            <br />
            <input name="IsChecked" type="radio" value="InformalWall" /> Informal Wall
        </div>
    }
    else
    {
<div>
    <input name="IsChecked" type="radio" value="FormalWall" /> Formal Wall
    <br />

    <input name="IsChecked" type="radio" value="InformalWall" /> Informal Wall
</div>
    }

</div>

        <input type="submit" value="Change" class="btn btn-primary" style="margin: 10px 0 0 0px;" />
}