body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.calendar-box {
    background-color: white;
    margin-bottom: 10px;
    display: flex;
}

.dateHolder {
    height: auto;
    width: 100px;
    background-color: #212440;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    color: #dddddd;
}

.dateHolder h2 {
    margin: auto;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 5px;
}

.dateHolder h3 {
    margin: auto;
    font-weight: normal;
    font-size: 20px;
}

.calendar-box-information {
    margin: 20px;
}

.calendar-box-information h2 {
    margin: 0;
    font-size: 24px;
}

.calendar-box-information span {
    background-color: #e1e1e1;
    padding: 2px 13px;
}

.CommentLabel {
    color: white;
}