html {
    height: 100%;
    min-height: 100% !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.center-form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.form-register {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.81);
    padding: 30px;
}

.form-register .control-label {
    width: auto !important;
}

.jumbotron {
    margin-top: 50px;
}

#loginForm .control-label {
    width: auto !important;
}

#loginForm {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.81);
}

.front-logo {
    display: block;
    width: 30%;
    margin: auto;
}

.front-page {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.81);
    padding: 20px 20px;
    height: 80%;
    display: flex;
}

.first-page-content {
    margin: auto;
    height: auto;
}

.first-page-content .btn {
    margin: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}

.calendar-box {
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    background-color: #ebebeb;
    box-shadow: 0px 0px 3px #808080;
}

.dateHolder {
    height: auto;
    min-width: 100px;
    background-color: #212440;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #dddddd;
}

.dateHolder h2 {
    margin: 0 auto;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 5px;
}

.dateHolder h3 {
    margin: 0 auto;
    font-weight: normal;
    font-size: 19px;
}

.calendar-box-information {
    margin: 20px;
}

.calendar-box-information h2 {
    margin: 0;
    font-size: 24px;
}

.CommentLabel {
    color: white;
}
.calenderPage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.calendar {
    background-color: white;
    margin-top: 30px;
    width: auto;
    flex: 1;
    margin-right: 20px;
}

.meeting-form {
    min-width: 300px;
}

#invitedProfile {
    min-height: 150px;
}

.meeting-form-nopadding {
    padding: 0px !important;
}
.meeting-form-nopadding > div {
    margin: 10px !important;
}

.calendar-information-form {
    background-color: #ebebeb;
    margin-top: 30px;
    width: auto;
    box-shadow: 0px 0px 3px #808080;
}

.calendar-information-form h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.calendar-information-form h3 {
    margin: 5px 0 2px 0;
    padding: 5px 0 0 0;
    font-size: 16px;
}

.calendar-information-form h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #27679f;
    font-style:italic;
}

.calendar-information-form p {
    display: inline;
}

.calendar-information-form btn {
    display: block;
}

.calendar-content {
    padding: 20px;
    position: relative;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
}

.flex-container div {
    margin: 0px 10px 10px 10px;
}

.content-red {
    background-color: rgba(241, 199, 199, 0.85)
}

.content-blue {
    background-color: rgba(199, 226, 241, 0.85)
}

.inline-text {
    color: white;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.flex-chat {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 60%;
}

.input-chat .btn {
    border-radius: 0px !important;
    width: 100px;
}

.input-chat {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;
}

.input-chat input {
    max-width: 100%;
    flex: 1;
    margin-right: 5px;
}

.chat-content {
    background-color: #e8e8e8;
    height: 80%;
    box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.75);
    padding: 10px;
    overflow-y: scroll;
}

#user{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

#user li::before {
    color: #37c805;
    content: "\2022";
    display: inline-block;
    font-size: 3em;
    left: -0.46em;
    position: absolute;
    top: -0.44em;
}

#user li {
    color: #37c805;
    display: inline-block;
    padding: 0;
    position: relative;
    margin: 5px 10px 5px 16px;
}

#message {
    padding: 0px;
    margin: 0;
    list-style: none;
}

.chat-content hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid rgba(99, 165, 222, 0.55);
}

#Content {
    margin: 0px;
    width: 373px;
    height: 115px;
    border-radius: 5px;
    border-color: #bebebe;
}

.changeSettings td {
    padding: 10px;
}

.changeSettings a {
    color: #bb0000;
}

.changeSettings tr:nth-child(2n+1) {
    background-color: #f7f7f7;
}

.calendar-content hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(99, 165, 222, 0.55);
}

.post-section {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    border-top: 1px solid #c4c4c4;
}

.blog-content {
    margin: 0 20px 10px 20px;
}

.blogPost {
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.blogPost p {
    display: block;
}

.file-block {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    width: 160px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(99, 165, 222, 0.55);
    margin: 7px 7px 0 0;
}