@{
    ViewBag.Title = "ChatView";
}

    <body style="height: 100%">

        <h1 style="text-align: center; margin-bottom: 20px;">Chat room</h1>

        <div class="flex-chat">

            <div class="chat-content">
                <i>Be the first to say something..</i>
                <hr>
                <ul id="message"></ul>
            </div>


            <div class="input-chat">
                <input type="text" id="txt" class="input-field" />
                <button id="send" class="btn btn-success">Send</button>

            </div>


            <div class="loggedIn">
                <ul id="user"></ul>

            </div>

        </div>




        @section scripts{
            <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
            <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
            <script src="~/signalr/hubs"></script>
            <script src="~/app/app.js"></script>

        }
    </body>


