@{
    ViewBag.Title = "Home Page";
}
    <body style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0b/%C3%96rebroUniversity_Pool.JPG');
          background-size: cover; height: 100% !important;">

        <br />
        <div class="jumbotron front-page">
            <img class="front-logo" src="https://www.oru.se/contentassets/e9193d1aa9674106920d27dc908f5d31/oru_logo_eng_rgb.png" />

            <div class="first-page-content">
                <h1>Teacher platform</h1>
                <h2 class="lead">Share important information, post pictures  <br /> of dogs, or chat in the chat room</h2>

                @if(!User.Identity.IsAuthenticated) {
                @Html.ActionLink("Request membership", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-danger btn-lg" })
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success btn-lg" })
                }

            </div>
        </div>

        
    </body>